.permalink_wrapper {
  position: relative;
  text-align: right;
  flex:1;
  > a {
    white-space: nowrap;
    border: 1px solid #CCC;
    font-size: .66em;
    text-decoration: none;
    font-weight: bold;
    svg {
      vertical-align: middle;
      display: inline-block;
    }
  }
  &#sharethisview > a { font-size: 1em; font-weight: normal; display: flex; white-space: nowrap;}
  .sharebox {
    display:none;
    &.open {
      display:block;
    }
    font-size: .85em;
    color: #333;
    text-align:left;
    position: absolute;
    z-index: 999;
    top:100%;
    right: 0;
    background: #ddd;
    border: 1px solid #777;
    padding: .5em;
    min-width: 20em;
    max-width: 100%;
    box-shadow: 0 0 10px #222;
    a {
      color: #333;
      &:hover, &:focus {
        color: #fff;
      }
    }
    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    label span {
      display: block;
      text-align: right;
    }
    button {
      @extend .btn-small;
      position:absolute;
      bottom:0;
      right:0;
    }
    p {
      float:none;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &#sharethisview > .sharebox { font-size: 1em;}
}

.i-share, .i-refresh {
  fill: currentColor;
  height: 1em;
  width: 1em;
  vertical-align: middle;
}