h1.page-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.facetsearch {
  display:inline-block;
  width: 100%;
}
[aria-pressed="true"] {
  background: #000 !important;
  color: #fff !important;
}
.tool-item {
  div:first-child {
    margin-bottom: 0;
    background-color: #005A9C;
    padding: .25em .5em;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    h3 {
    	@extend .font-primary;
    	color: #fff;
      a {
        color: inherit;
      }
    }
  }
  details {
    clear:both;
    a {
    	word-break: break-all;
    }
  }
  h3 {
    font-size: 1em;
    margin: 0;
  }
}
.tool-item p {
  margin: 0;
}
.tool-item .desc {
  line-height: 1.25;
}
.tool-item .ver {
  font-size: 0.8em;
  text-align: right;
}

.facetitemcount {
    font-size: 0.8em;
}

.facetlist {
  margin: 0;
  padding: 0 .5em .5em;
  display:table;
  line-height: 1.25;
  li {
    display:table-row;
    list-style: none;
    > span {
      padding: 0 .125em .125em;
      display: table-cell;
    }
  }
}

.facetitem {
}

#facets {
  font-size: 0.85em;
  summary {
  	font-weight: bold;
  }
}

#facets details:nth-child(even) {
  background-color: #eee;
}

#facets input[type=checkbox]:focus {
	outline: 3px solid #005A9C;
}

summary:hover,
summary:focus {
  background: #777;
  color: #fff;
}

[type=checkbox]:disabled + span {
  color: #777;
}

.bottomline {
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0 .5/.8 * 1em;
  min-height: 2.5em;
  font-size: .8em;
  background: #ddd;
  margin-bottom: .5em;
  div, a {
    display: inline-block;
  }
  // a, span {
  //   margin-left: 0.5em;
  // }
  // span[aria-live] {
  //   margin-left: 0;
  // }
}

#results {
  margin: 0;
  padding: 0;
  > li {
    margin-bottom: .85em;
    list-style: none;
    border: 1px solid #005A9C;
    background-color: #fff;
    border-radius: .2em;
    box-shadow: 0 0 3px rgba(#000, .5);
  }
  .desc, ul {padding: .25em .5em;}
  ul {
    margin-left: 1em;
  }
  details {
  	font-size: 0.85em;
  	ul {
  		column-rule: 1px solid #777;
  		column-gap: 2.5em;
  		margin: 0;
  		padding: 0 0 .5em;
  		@include mq($medium) {
				columns: 2;
			}
			@include mq($large) {
				columns: 3;
			}
			li {
				list-style: disc;
				margin-left: 1.5em;
				break-inside: avoid-column;
			}
  	}
  }
  summary {
  	color: #606060;
  	strong, &:before {
  		color: #333;
  	}
  	&:hover, &:focus {
  		color: #fff;
	  	strong, &:before {
	  		color: #fff;
	  	}
  	}
  }
}

.disclaimer {
  background-color: #fff;
  border: 1px solid #923e25;
  font-size: 0.85em;
  line-height: 1.25;
}

.disclaimer h2 {
  color: #fff;
  background-color:#923e25;
  font-size: 1em;
  padding: .25em;
  margin: 0;
}

.disclaimer p {
  padding: .25em;
  margin: 0;
}

#showmorebutton {
  @extend .btn;
  display:block;
  width: 100%;
}

.content {margin-bottom: 2em !important;}

.navigation, .content {
  h2 {
    font-size: 1.5em;
    margin:0;
  }
}

.content {
  h2 {
    padding: .33333em 0;
  }
}

.navigation {
	margin-bottom: 1em;
  details h2 {
    display: inline;
  }
}

.submit {
padding: 1em 0;
background-color: #fff;
text-align: center;
}

.form-block-mini {
  @extend .form-block;
  > .form-row {
    > span, > label {
      padding: .2em;
    }
    > label {
    	width:30%;
    }
    .btn {
    	font-size: 0.85em;
    }
  }
}

.intro {
	font-size: .9em;
	line-height: 1.25;
}

.version {
	color: #555;
	white-space: nowrap;
}

.facettotalcount {
	.filter strong { font-weight: normal; }
  flex: 80%;
}

.permalink {
	position: absolute;
	top:.2em;
	right: .5em;
	text-decoration: none;
//	opacity:0;
	font-weight: normal;
	width: 1.25em;
	height: 1.25em;
	border: 1px solid rgba(#fff,0);
	text-align: center;
	&:hover {
		border: 1px solid #fff;
	}
	img {
		display: inline-block;
	}
//	.tool-item:hover &, &:focus { opacity: 1; }
}

.plainitem .facetlist {
	margin: .375em;
	padding: .375em 0 0;
	border-top: 1px solid #777;
}

.tool-item p.link {
	font-size: .85em;
	margin-top: .5em;
	a {
		color:inherit;
		&:hover {
			color: #fff;
		}
	}
}

.group {
	fieldset {
		margin-left: 3em;
		&:first-child {
			margin-left: 0;
		}
	}
}

#file {
	display:none;
}

.editbox {
	padding: 1% 0;
	border: 1px solid #777;
	border-width: 1px 0;
	font-size: 0.85em;

	@include mq($medium) {
		float:right;
		width: 14%;
		padding: .5% 1.5% 1%;
		margin-left: 1em;
		border-width: 1px;
	}
	h3 {
		margin-bottom: 0.5em;
	}
}

#deselect {
  white-space: nowrap;
}

.active {
  animation: yellowfade 1s linear;
}

@keyframes yellowfade {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: #DDDDDD;
  }
}