h1.page-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.facetsearch {
  display:inline-block;
  width: 100%;
}
[aria-pressed="true"] {
  background: #000 !important;
  color: #fff !important;
}
.tool-item {
  h4 {
    margin-bottom: 0;
  }
  details {
    clear:both;
  }
}
.tool-item p {
  margin: 0;
  float: left;
  width:100%
}
.tool-item .desc {
  line-height: 1.25;
}
.tool-item .ver {
  font-size: 0.8em;
  text-align: right;
}

.tool-item h4 i {
  font-weight: normal;
  font-size: 0.9em;
}

.facetitemcount {
    font-size: 0.8em;
}

.facetlist {
  margin: 0;
  padding: 0 .5em .5em;
  display:table;
  line-height: 1.25;
  li {
    display:table-row;
    list-style: none;
    > span {
      padding: 0 .125em .125em;
      display: table-cell;
    }
  }
}

.facetitem {
}

#facets {
  font-size: 0.85em;
}

#facets details:nth-child(even) {
  background-color: #eee;
}

summary:hover,
summary:focus {
  background: #777;
  color: #fff;
}

[type=checkbox]:disabled + span {
  color: #777;
}

.bottomline {
  div, a {
    display: inline-block;
  }
  a, span {
    margin-left: 0.5em;
  }
  span[aria-live] {
    margin-left: 0;
  }
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  > li {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    margin-bottom: 1.333333333em;
    list-style: none;
    border: 1px solid #005A9C;
    background-color: #fff;
    border-radius: .5em;
    box-shadow: 0 0 3px rgba(#000, .5);
    overflow:hidden;
    > div, > details {
      justify-content: space-between;
    }
    > .desc {
      flex-grow: 1;
      -ms-flex: auto;
    }
  }
  h4, p, ul {padding: .25em .5em;}
  ul {
    margin-left: 1em;
  }
  h4 {
    font-size: 1em;
    margin: 0;
    background-color: #005A9C;
    &, a {
      color: #fff;
    }
    a, i {
      display:block;
    }
  }

}

.disclaimer {
  background-color: #fff;
  border: 1px solid #923e25;
  font-size: 0.85em;
  line-height: 1.25;
}

.disclaimer h2 {
  color: #fff;
  background-color:#923e25;
  font-size: 1em;
  padding: .25em;
  margin: 0;
}

.disclaimer p {
  padding: .25em;
  margin: 0;
}

#showmorebutton {
  @extend .btn;
  display:block;
  width: 100%;
}

.content {margin-bottom: 2em !important;}

.navigation, .content {
  h2 {
    font-size: 1.5em;
    margin:0;
  }
}

.content {
  h2 {
    padding: .33333em 0;
  }
}

#infos {
  padding-bottom: .5em;
}

.submit {
padding: 1em 0;
background-color: #fff;
text-align: center;
}

.form-block-mini {
  @extend .form-block;
  > .form-row {
    > span, > label {
      padding: .2em .1em;
    }
  }
}
